{% extends "base_page.html" %}
{% load static %}

{% block content %}
    <h1>{% if is_public_page %}Community{% else %}My{% endif %} Recipes</h1>
    {% if tags %}
        <div class="tag-filter content chipped-box">
            <h4>Filter By:</h4>
            <form action="{{ request.path }}" method="get" class="tag-filter-form">
                <div class="tags">
                    {% for tag in tags %}
                        <label>
                            <input type="checkbox" name="tag" value="{{ tag.name }}" {% if tag.name in selected_tags %}checked="checked"{% endif %} />
                            <span class="tag {% if tag.name in selected_tags %}selected{% endif %}">{{ tag.name }}</span>
                        </label>
                    {% endfor %}
                </div>
                <label for="search">
                    <span class="label">Search Term</span>
                    <input type="text" name="search" id="search" value="{{ search }}"/>
                </label>
                <div class="actions">
                    <a href="{{ request.path }}" class="left-arrow">Reset</a>
                    <button type="submit" class="right-arrow">Filter</button>
                </div>
            </form>
        </div>
    {% endif %}
    {% if hungry_link %}<a href="{{ hungry_link }}" class="hungry-link">I'm feeling hungry!</a>{% endif %}
    {% if request.user.is_authenticated and not is_public_page %}
        <p><a href="{% url 'recipes:create' %}" class="add-item">Add Recipe</a></p>
    {% endif %}
    {% if recipe_list %}
        <ul class="recipes">
            {% for recipe in recipe_list %}
                <li class="chipped-box-border"><a href="{% url 'recipes:detail' recipe.uuid %}">
                    {% if recipe.image %}
                        <span class="thumbnail">
                            <img src="{{ recipe.image.thumbnails.small.url }}" width="{{ recipe.image.thumbnails.small.width }}" height="{{ recipe.image.thumbnails.small.height }}" alt="{{ recipe.name }}"/>
                        </span>
                    {% else %}
                        <span class="thumbnail placeholder">
                            <img src="{% static 'recipes/images/image_placeholder.jpg' %}" alt="{{ recipe.name }}"/>
                        </span>
                    {% endif %}
                    <div class="description">{{  recipe.name }}</div>
                </a></li>
            {%  endfor %}
        </ul>
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% if selected_tags_params %}&{{ selected_tags_params }}{% endif %}" class="left-arrow"> first</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% if selected_tags_params %}&{{ selected_tags_params }}{% endif %}" class="prev">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if selected_tags_params %}&{{ selected_tags_params }}{% endif %}" class="next">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_tags_params %}&{{ selected_tags_params }}{% endif %}" class="right-arrow">last</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>No recipes found.</p>
    {% endif %}
{%  endblock %}