{% extends "recipes/recipe_base_page.html" %}

{% block recipe_title %}
    <div>
        <h3>{{ recipe.name }}</h3>
        <a class="right-arrow" href="{{request.META.HTTP_REFERER}}">Back</a>
    </div>
    {% if request.user.is_authenticated and user.id == recipe.user_id %}
        <a href="{% url 'recipes:update' recipe.uuid %}" class="edit-recipe">Edit</a>
        <a href="{% url 'recipes:delete' recipe.uuid %}" class="delete-recipe">Delete</a>
    {% endif %}
{% endblock %}

{% block recipe_content %}
    {% if recipe.tags %}
        <div class="tags">
            {% for tag in recipe.tags.all %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="recipe-details">
        {% if recipe.prep_time %}
            <span><strong>Prep time:</strong> {{ recipe.prep_time }}</span>
        {% endif %}
        {% if recipe.cook_time %}
            <span><strong>Cook time:</strong> {{ recipe.cook_time }}</span>
        {% endif %}
        {% if recipe.serves %}
            <p><strong>Serves: </strong>{{ recipe.serves }}</p>
        {% endif %}
        {% if recipe.source %}
            <p><strong>Source: </strong>{{ recipe.source }}</p>
        {% endif %}
    </div>
    <p id="keep-awake" style="display: none">
        <label class="custom-checkbox" id="keep-awake-field" for="keep-awake_id">
            <input type="checkbox" name="keep-awake" id="keep-awake_id">
            <strong>Cook Mode</strong>
        </label>
        <span>(Keeps the screen from dimming)</span>
    </p>
    <p>{{ recipe.description|linebreaks }}</p>
{% endblock %}