:root {
    --primary-colour-light: #7D9A6D;
    --primary-colour: #3A5A40;
    --primary-colour-dark: #1F3A3D;
    --secondary-colour: #B68F61;
    --background-light: #e5cbaa;
    --background-dark: #d3af8b;
    --off-white: #f6ede2;
    --gold: #bf8c20;
}

.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    position: relative;
    background: var(--background-light);
    font-family: "Open Sans", sans-serif;
    color: #301f0f;
}
body::before{
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    opacity: 0.5;
}

div {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: "UnifrakturMaguntia", cursive;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}
a:hover {
    color: var(--primary-colour-light);
}

.chipped-box {
    clip-path: polygon(0 14px,14px 0,calc(100% - 14px) 0,100% 14px,100% calc(100% - 14px),calc(100% - 14px) 100%,14px 100%,0 calc(100% - 14px));
}
.chipped-box-border {
  position: relative;
  clip-path: polygon(0 16px,16px 0,calc(100% - 16px) 0,100% 16px,100% calc(100% - 16px),calc(100% - 16px) 100%,16px 100%,0 calc(100% - 16px));
}
.chipped-box-border:before {
  content: "";
  position: absolute;
  inset: 0;
  background:  var(--primary-colour);;
    clip-path: polygon(0 16px,16px 0,calc(100% - 16px) 0,100% 16px,100% calc(100% - 16px),calc(100% - 16px) 100%,16px 100%,0 calc(100% - 16px),0 16px,3px  calc(16px + 1.24px),3px calc(100% - 16px - 1.24px),calc(16px + 1.24px) calc(100% - 3px),calc(100% - 16px - 1.24px) calc(100% - 3px),calc(100% - 3px) calc(100% - 16px - 1.24px),calc(100% - 3px) calc(16px + 1.24px),calc(100% - 16px - 1.24px) 3px,calc(16px + 1.24px) 3px,3px calc(16px + 1.24px));
}

.gold-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gold-border:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gold);
  clip-path: polygon(0 14px,14px 0,calc(100% - 14px) 0,100% 14px,100% calc(100% - 14px),calc(100% - 14px) 100%,14px 100%,0 calc(100% - 14px),0 14px,3px  calc(14px + 1.24px),3px calc(100% - 14px - 1.24px),calc(14px + 1.24px) calc(100% - 3px),calc(100% - 14px - 1.24px) calc(100% - 3px),calc(100% - 3px) calc(100% - 14px - 1.24px),calc(100% - 3px) calc(14px + 1.24px),calc(100% - 14px - 1.24px) 3px,calc(14px + 1.24px) 3px,3px calc(14px + 1.24px));
}

.page-header {
    position: relative;
    background: var(--primary-colour);
    color: var(--secondary-colour);
    padding: 30px;
    margin: 20px 0;
}
.page-header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/header-background.jpg") no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to right, transparent 20%, black 55%);
    mask-image: linear-gradient(to right, transparent 20%, black 75%);
    opacity: 0.2;
    z-index: -1;
}

.page-header h1 {
    margin: 0;
    font-size: 44px;
}

.flourishes {
    position: relative;
}
.flourishes::before, .flourishes::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 70px;
    height: 96px;
    /*background: url("images/flourish.png");*/
    /*background-size: cover;*/
    background: var(--gold);
    mask-image: url("images/flourish.png");
    mask-size: cover;
}
.flourishes::before {
    left: -83px;
    transform: rotate(90deg);
}
.flourishes::after {
    right: -83px;
    transform: rotate(-90deg) scaleX(-1);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/** Recipies list */

.recipies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0;
    padding: 0;
}

.recipies li {
    list-style-type: none;
}

.recipies li a {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
    background: var(--off-white);
}
.recipies li a:hover {
    background: var(--background-light);
}

.recipies li .description {
    padding: 20px;
    padding-top: 15px;
}

/** Recipe detail page */

.recipe-content {
    background: var(--off-white);
    padding: 20px;
}

.recipe-title {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
}
.recipe-title h3 {
    margin: 0;
}

.back-arrow {
    display: block;
    position: relative;
    padding-right: 40px;
}
.back-arrow::after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: 0;
    width: 26px;
    height: 28px;
    background: url("images/arrow.png");
    background-size: cover;
    z-index: 10;
    transform: rotate(90deg);
}
.back-arrow:hover::after {
    opacity: 0.75;
}

.recipe-image {
    height: 400px;
    overflow: hidden;
}
.recipe-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: left;
}

.tags {
    display: flex;
    margin: 10px 0;
}
.tags span{
    background: var(--secondary-colour);
    font-size: 11px;
    padding: 4px 6px;
    margin-right: 3px;
    clip-path: polygon(0 6px,6px 0,calc(100% - 6px) 0,100% 6px,100% calc(100% - 6px),calc(100% - 6px) 100%,6px 100%,0 calc(100% - 6px));
}