{% extends "base_page.html" %}

{% block content %}
    {% block user_controls %}{# empty #}{% endblock %}
    <div class="invitation-page">
        <h1>Invitation</h1>
        {% if request.user.is_authenticated %}
            <p>You're already registered as {{ request.user.username | title }}. <a href="{% url 'logout' %}">Logout?</a></p>
        {% else %}
            <p>
                You are cordially invited to use this Recipe Book. <br />
                Please enter your details below:
            </p>
           {% include 'base_form.html' with form_class='invitation-form' button_text="Register" %}
        {% endif %}

    </div>
{% endblock %}