{% load static %}
{% load recipenav %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Recipe Book{% endblock %}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static 'images/favicon_io/site.webmanifest' %}">

    <script src="{% static 'scripts.js' %}"></script>
</head>
<body>

<header>
    <div class="container">
        <div class="flourishes"></div>
        <div class="page-header chipped-box">
            <div class="gold-border"></div>
            Recipe Book
        </div>
    </div>
</header>
<div class="container">
    {% block user_controls %}
        <div class="user-controls">
            {% if request.user.is_authenticated %}
                <span>Hi {{ request.user.username | title }}</span>
                <a href="{% url 'account_logout' %}" class="right-arrow">Sign Out</a>
            {% else %}
                <a href="{% url 'account_login' %}" class="right-arrow">Sign In</a>
            {% endif %}
        </div>
    {% endblock %}

    {% for message in messages %}
        <div class="message chipped-box {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <div class="green-border"></div>
            {{ message }}
        </div>
    {% endfor %}

    {% recipe_nav %}

    <div class="content chipped-box {% block content_classes %}{%  endblock %}">
        {% block content %}{%  endblock %}
    </div>
</div>
<div class="footer container"></div>
</body>
</html>