{% extends "recipies/base_page.html" %}

{% block content %}
    {% if recipe_list %}
        <ul class="recipies">
            {% for recipe in recipe_list %}
                <li class="chipped-box-border"><a href="{% url 'recipies:detail' recipe.id %}">
                    {% if recipe.image %}
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}"/>
                    {% endif %}
                    <div class="description">{{  recipe.name }}</div>
                </a></li>
            {%  endfor %}
        </ul>
    {% else %}
        <p>No recipies found.</p>
    {% endif %}
{%  endblock %}