$primary-colour-light: #7D9A6D;
$primary-colour: #3A5A40;
$primary-colour-dark: #1F3A3D;
$secondary-colour: #B68F61;
$secondary-colour-light: #d3af8b;
$background-light: #e5cbaa;
$background-lighter: #f0dcc3;
$off-white: #f6ede2;
$gold: #bf8c20;
$error: #C92525;
$font-colour: #301f0f;

$breakpoint-laptop: 1200px;
$breakpoint-tablet: 800px;
$breakpoint-mobile: 600px;