@import 'variables';
@import 'fonts';

body {
    position: relative;
    padding: 0;
    margin: 0;
    background: $background-light;
    font-family: "Open Sans", sans-serif;
    color: $font-colour;

    &::before{
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url("../images/background.jpg") no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
}

div {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Lucien Schoenschriftv CAT', cursive;
    font-weight: normal;
}

h2 {
    position: relative;
    padding-bottom: 25px;
    font-family: 'Lucien Schoenschriftv CAT', cursive;
    color: $secondary-colour;
    font-size: 40px;
    text-align: center;
    font-weight: normal;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 320px;
        height: 20px;
        left: 0;
        bottom: 5px;
        right: 0;
        margin: auto;
        background: $gold;
        mask-image: url("../images/fancy_line.png");
        mask-size: cover;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $primary-colour;

    &:hover {
        color: $primary-colour-light;
    }
}

.right-arrow,
.left-arrow {
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -3px;
        width: 26px;
        height: 28px;
        background: url("../images/arrow.png");
        background-size: cover;
        z-index: -1;
    }
    &:hover::after {
        opacity: 0.75;
    }
}
.right-arrow {
    padding-right: 40px;
    &::after {
        right: 0;
        transform: rotate(90deg);
    }
}
.left-arrow {
    padding-left: 40px;
    &::after {
        left: 0;
        transform: rotate(-90deg);
    }
}

.chipped-box {
    clip-path: polygon(0 14px,14px 0,calc(100% - 14px) 0,100% 14px,100% calc(100% - 14px),calc(100% - 14px) 100%,14px 100%,0 calc(100% - 14px));
}
.chipped-box-border {
    position: relative;
    clip-path: polygon(0 16px,16px 0,calc(100% - 16px) 0,100% 16px,100% calc(100% - 16px),calc(100% - 16px) 100%,16px 100%,0 calc(100% - 16px));
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background:  $gold;
        clip-path: polygon(0 16px,16px 0,calc(100% - 16px) 0,100% 16px,100% calc(100% - 16px),calc(100% - 16px) 100%,16px 100%,0 calc(100% - 16px),0 16px,3px  calc(16px + 1.24px),3px calc(100% - 16px - 1.24px),calc(16px + 1.24px) calc(100% - 3px),calc(100% - 16px - 1.24px) calc(100% - 3px),calc(100% - 3px) calc(100% - 16px - 1.24px),calc(100% - 3px) calc(16px + 1.24px),calc(100% - 16px - 1.24px) 3px,calc(16px + 1.24px) 3px,3px calc(16px + 1.24px));
    }
}

header {
    overflow: hidden;
}

.page-header {
    position: relative;
    background: $primary-colour;
    color: $secondary-colour;
    padding: 30px;
    margin: 20px 0;

    @media screen and (max-width: $breakpoint-laptop) {
        padding: 20px 30px;
        margin-top: 1px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/header-background.jpg") no-repeat;
        background-size: cover;
        -webkit-mask-image: linear-gradient(to right, transparent 00%, black 55%);
        mask-image: linear-gradient(to right, transparent 00%, black 75%);
        opacity: 0.2;
        z-index: -1;
    }

    h1 {
        margin: 0;
        font-size: 53px;
        letter-spacing: 1.5px;

        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 38px;
        }
    }
}

.flourishes,
.footer {
    position: relative;
    height: 66px;
    margin: 5px auto;
    overflow: hidden;

    @media screen and (max-width: 500px) {
        height: auto;
        padding-top: 13%;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: -1000px;
        right: -1000px;
        margin: auto;
        height: 66px;
        width: 500px;
        background: $gold;
        mask-image: url("../images/footer-flourish.png");
        mask-size: cover;

        @media screen and (max-width: 500px) {
            width: 100%;
            height: 100%;
            mask-position: center top;
            mask-size: 100%;
            top: 0;
        }
    }
}
.footer {
    z-index: 0;
}

.flourishes {
    @media screen and (max-width: $breakpoint-laptop) {
        margin-bottom: 0;
        &:after {
            rotate: 180deg;
        }
    }

    @media screen and (min-width: $breakpoint-laptop) {
        height: auto;
        margin: 0;
        overflow: visible;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: auto;
            right: auto;
            margin: 0;
            width: 70px;
            height: 96px;
            background: $gold;
            mask-image: url("../images/flourish.png");
            mask-size: cover;
        }
        &::before {
            left: -83px;
            transform: rotate(90deg);
        }
        &::after {
            right: -83px;
            transform: rotate(-90deg) scaleX(-1);
        }
    }
}

.user-controls {
    text-align: right;
    margin-bottom: 10px;
    margin-top: -15px;
    font-size: 14px;

    .right-arrow::after {
        right: 8px;
        top: -1px;
        width: 22px;
        height: 24px;
    }
}

nav #open-nav {
    position: absolute;
    top: -65px;
    right: 40px;
    width: 25px;
    height: 20px;

    @media screen and (min-width: $breakpoint-tablet) {
        display: none;
    }


    @media screen and (max-width: $breakpoint-mobile) {
        top: -55px;
    }

    .bar {
        background: $gold;
        position: absolute;
        margin: auto;
        width: 100%;
        height: 3px;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 0;
            bottom: 0;
        }
        &:nth-child(3) {
            bottom: 0;
        }
    }
}
.navigation #close-nav {
    position: relative;
    padding: 10px;
    padding-left: 35px;
    color: $gold;
    border-bottom: 1px solid $primary-colour-dark;

    @media screen and (min-width: $breakpoint-tablet) {
        display: none;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        top: 20px;
        width: 25px;
        height: 3px;
        background: $gold;
    }
    &:before {
        rotate: 45deg;
    }
    &:after {
        rotate: -45deg;
    }
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;

    li {
        position: relative;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &.selected a {
            background: $primary-colour-light;
            color: #1F3A3D;
        }

        a {
            display: block;
            padding: 10px;
            color: $primary-colour-light;
        }
    }

    @media screen and (max-width: 799px) {
        background: $primary-colour;
        color: $primary-colour-light;
        height: 100vh;
        width: 0;
        transition: width 1s ease-in-out;
        white-space: nowrap;

        &.open {
            width: calc(100vw - 40px);
        }

        a {
            margin-left: -7px;
            background: $primary-colour;
            border-bottom: 1px solid $primary-colour-dark;
            clip-path: polygon(5px 0, 100% 0, 100% 100%, 8px 100%, 0 calc(100% - 5px), 0 5px);
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0 15px;
        padding-top: 5px;
        overflow: hidden;

        li {
            &:nth-child(1) {
                z-index: 10;
            }
            &:nth-child(2) {
                z-index: 9;
            }
            &:nth-child(3) {
                z-index: 8;
            }
            &:before {
                background: $primary-colour;
                bottom: 0;
                content: "";
                display: block;
                position: absolute;
                left: -1000px;
                right: -1000px;
                width: 3000px;
                height: 5px;
            }
            &.selected {
                z-index: 20;

                &:before {
                    background: $primary-colour-light;
                }
            }
            /** chipped box shadow */
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 2px;
                right: -3px;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: -1;
                clip-path: polygon(8px 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%, 0 8px);
                -webkit-filter: blur(9px);
                        filter: blur(9px);
            }
            /* make sure the shadow moves with the link on hover */
            &:has(a:hover) {
                margin-top: -5px;
            }
            transition: margin-top 0.1s ease-in-out;

            a {
                display: block;
                padding: 10px;
                background: $primary-colour;
                clip-path: polygon(8px 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%, 0 8px);
                transition: padding-bottom 0.1s ease-in-out;

                &:hover {
                    padding-bottom: 15px;
                }
            }
        }
    }

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.content {
    background: $off-white;
    padding: 20px 30px;
}
.content:after,
.gold-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content:before,
.gold-border:before {
  content: "";
  position: absolute;
  inset: 0;
  background: $gold;
  clip-path: polygon(0 14px,14px 0,calc(100% - 14px) 0,100% 14px,100% calc(100% - 14px),calc(100% - 14px) 100%,14px 100%,0 calc(100% - 14px),0 14px,3px  calc(14px + 1.24px),3px calc(100% - 14px - 1.24px),calc(14px + 1.24px) calc(100% - 3px),calc(100% - 14px - 1.24px) calc(100% - 3px),calc(100% - 3px) calc(100% - 14px - 1.24px),calc(100% - 3px) calc(14px + 1.24px),calc(100% - 14px - 1.24px) 3px,calc(14px + 1.24px) 3px,3px calc(14px + 1.24px));
}

.alert-error {
    margin-bottom: 10px;
}

form:not(.tag-filter-form) {
    text-align: left;
    margin-top: 20px;

    .field-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .errorlist {
        margin-top: 3px;
        margin-bottom: 0;
        padding: 0;
        text-align: left;
    }

    .field {
        width: 100%;
    }

    label {
        margin-right: 10px;
    }

    textarea {
        width: 100%;
    }

    .uploaded-image {
        padding-top: 38.4%;
        border: 2px solid $gold;
        margin-bottom: 10px;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    input[type="file"]::file-selector-button {
        background-color: $secondary-colour;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="file"]:hover::file-selector-button {
        background-color: $secondary-colour-light;
    }

    label:has(input[type="checkbox"]),
    .field:has(input[type="checkbox"].boolean-checkbox),
    .custom-checkbox {
        position: relative;
        padding-left: 23px;
        margin-bottom: 5px;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
        }

        &:before {
            width: 20px;
            height: 20px;
            background: $background-lighter;
            border: 1px solid $secondary-colour;
        }

        input {
            opacity: 0;
            position: relative;
            margin-left: -22px;
            margin-top: 1px;
            z-index: 10;
            width: 20px;
            height: 20px;
        }
    }

    label:has(input[type="checkbox"]:checked),
    .field:has(input[type="checkbox"].boolean-checkbox:checked),
    .custom-checkbox:has(input[type="checkbox"]:checked) {
        &:after {
            top: 2px;
            left: 2px;
            width: 17px;
            height: 17px;
            background: $gold;
            mask-image: url("../images/tick_icon.png");
            mask-size: cover;
        }
    }
}


.tags {
    display: flex;
    margin: 10px 0;
}
.tag {
    background: $secondary-colour;
    font-size: 11px;
    padding: 4px 6px;
    margin-right: 3px;
    clip-path: polygon(0 6px,6px 0,calc(100% - 6px) 0,100% 6px,100% calc(100% - 6px),calc(100% - 6px) 100%,6px 100%,0 calc(100% - 6px));
}

/** Form styles */

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
select {
    padding: 5px;
    background: $background-lighter;
    border: none;
    border-bottom: 1px solid $secondary-colour;
    vertical-align: top;
}

input[type=submit] {
    background: transparent;
    border: none;
    padding: 0;
    padding-right: 40px;
    font-size: inherit;
    color: $primary-colour;
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.75;
}
form {
    text-align: center;
}

form label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    text-align: left;
}
form .right-arrow {
    padding: 0;
}

.alert-error {
    color: $error;
}

.errorlist {
    padding-left: 12px;
    margin-bottom: -12px;
    color: $error;
    font-size: 12px;

    li {
        list-style-type: none;
    }
}

/** Recipes list */

.tag-filter {
    display: flex;
    padding: 5px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background: $primary-colour-light;
    &::before {
        background: $primary-colour-dark;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/header-background.jpg") no-repeat;
        background-size: auto;
        background-size: cover;
        opacity: 0.07;
        z-index: -1;
    }
    h4 {
      margin: 0;
      margin-right: 20px;
      margin-top: 10px;
      color: $primary-colour-dark;
    }

    .tags {
        label {
            width: auto;
        }
        input {
            opacity: 0;
            position:absolute;

            &:checked + .tag {
                background: $secondary-colour;
                color: $font-colour;
                &:hover {
                    background: $primary-colour;
                    color: $primary-colour-light;
                }
            }
        }
    }
    .tag {
        background: $primary-colour-dark;
        color: $primary-colour-light;
        &:hover {
            cursor: pointer;
            background: $secondary-colour-light;
            color: $font-colour;
        }
    }

    .actions {
        margin-top: 15px;
        font-size: 14px;

        .left-arrow:hover {
            color: $primary-colour;
        }
        .right-arrow {
            margin-left: 20px;
        }
        .left-arrow::after,
        .right-arrow::after {
            background: $primary-colour-dark;
            mask: url("../images/arrow.png") no-repeat;
            mask-size: contain;
        }
    }
}

.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0;
    padding-left: 0;
    padding-bottom: 30px;

    @media screen and (max-width: $breakpoint-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $breakpoint-mobile) {
        grid-template-columns: repeat(1, 1fr);
    }

    li {
        list-style-type: none;

        a {
            display: block;
            height: 100%;
            color: inherit;
            text-decoration: none;
            background: $background-light;
            &:hover {
                opacity: 0.75;
            }
        }

        .description {
            padding: 20px;
            padding-top: 15px;
        }
    }
}


/** Recipe detail page */

.recipe-title {
    margin: 18px 0;

    > div {
        display: flex;
        justify-content: space-between;
    }

    h3 {
        margin: 0;
        margin-bottom: 5px;
    }
}

.edit-recipe,
.delete-recipe,
.add-recipe {
    position: relative;
    padding-left: 25px;
    font-size: 14px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -3px;
        width: 23px;
        height: 25px;
        margin-right: 15px;
    }
    &:hover {
        opacity: 0.75;
    }
}
.edit-recipe {
    margin-right: 15px;
}
.edit-recipe::before {
    mask: url("../images/quill.png") no-repeat;
    mask-size: contain;
    background: $gold;
}
.delete-recipe::before {
    mask: url("../images/cross_icon.png") no-repeat;
    mask-size: contain;
    background: $error;
}
.add-recipe::before {
    mask: url("../images/plus_icon.png") no-repeat;
    mask-size: contain;
    background: $gold;
    transform: rotate(49deg);
    width: 15px;
    top: 0;
}

.recipe-image {
    padding-top: 38.4%;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-mobile){
        padding-top: 67%;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
}

/** login page */

.login-page {
    text-align: center;
}

.login-form label {
    display: inline-block;
    width: 100px;
}

.login-form .right-arrow {
    margin-left: 17px;
}

/** Delete page */
form.delete-form {
    text-align: center;
}
.delete-form .left-arrow {
    margin-right: 30px;
}

/** invitation page */

.invitation-page {
    text-align: center;

    .field {
        min-width: 400px;
    }

    input {
        width: 100%;
    }

    .right-arrow {
        margin-left: 17px;
    }
}

form.invitation-form,
form.login-form {
    text-align: center;
}
form.invitation-form .field {
    max-width: 400px;
}
form.login-form .field {
    max-width: 170px;
}